.snakemake
Snakemake.skeleton/0.Fastq/Trim
Snakemake.skeleton/1.1.Align
Snakemake.skeleton/1.2.Align.filtered
Snakemake.skeleton/1.3.Align.dedup
Snakemake.skeleton/1.4.Align.split
Snakemake.skeleton/2.BigWig
Snakemake.dev/0.Fastq/Trim
Snakemake.dev/1.1.Align
Snakemake.dev/1.2.Align.filtered
Snakemake.dev/1.3.Align.dedup
Snakemake.dev/1.4.Align.split
Snakemake.dev/2.BigWig
