## YAML file containing parameters for CUT&RUN data processing in Cutlery
## Written by Hee Woong Lim

###################################################################
## WARNING: TAB is forbiden in YAML documents. Use space instead


###################################################################
## Sample information file with five columns (case sensitive): Id / Name / Group / Fq1 / Fq2
src_sampleInfo: "../sample.tsv"

###########################################
## Basic genomic resource files
# genome fasta file, required
genomeFa  : "./config_cnr.dev.yml"
# chromosome size file, required
chrom_size: "./config_cnr.dev.yml"
# blacklist bed file, "NULL" if not needed
peak_mask : "./config_cnr.dev.yml"
# base directory
baseDir   : "/data"
## Genome version, required
genome  : "hg19"

###########################################
## Adapter trimming parameters
# Adapter sequence, required
# Illumina universal adapter: AGATCGGAAGAGC
# Nextera adapter (ATACseq / CUT&Tag): CTGTCTCTTATA
adapter : "AGATCGGAAGAGC"
# minimum length to retain after trimming
trim_minLen : 20
# minimum qualilty fo quality trimming
trim_minQual: 20

###########################################
## Chromosomes for downstream processing (excluding non-target chromosomes, i.e. random, spikein)
# Target chromosomes + spike-in chromosome (e.g. excluding random scaffold)
chrRegexAll : "^chr[0-9XY]+$"
# Target chromosomes excluding spike-in
chrRegexTarget: "^chr[0-9XY]+$"
# Prefix of spike-in chromosomes, e.g. "dm-" or "ec-" (from STAR index generated by Lim).
# "NULL" if no spike-in
spikePrefix : "NULL"

###########################################
## STAR aligner parameters
# STAR index
# Note: check the compatibility between STAR version and index. Some STAR version is not backward compatible)
star_index  : "."

# STAR module for HPC @ BMI/CCHMC
# Note: If not specified, 2.5 will be used for the compatibility with the previous runs
star_module : "STAR/2.7.4"

# STAR option staring
## Note:
## Additoinal star_option to prevent soft-clipping: "--alignEndsType EndToEnd"
## BAM sort by "--outSAMtype" is handled by the star.align.sh by -s option.
## To keep unmapped reads in the output bam file, add "--outSAMunmapped Within"
star_option : "--alignSJDBoverhangMin 999 --alignIntronMax 1 --alignMatesGapMax 1000 --outFilterMultimapNmax 1 --outFilterMismatchNoverLmax 0.05 --outReadsUnmapped None --alignEndsProtrude 2 ConcordantPair"


###########################################
## Process flags: True / False
doTrim  : True
# Deduplication or not, testing purpose, not recommended
doDedup : False

###########################################
## Output folders
# Fastq files
fastqDir: "0.Fastq"
# Trimmed fastq files
trimDir : "0.Fastq.Trim"
# Alignment
alignDir: "1.1.Align"
# Alignment after filtering: concordant alignment & chromosome filering by "chrRegexAll"
filteredDir: "1.2.Align.filtered"
# Deduplicated alignment after filtering
dedupDir: "1.3.Align.dedup"
# Quality control information
qcDir   : "2.1.QualityControl"
# Processed sample folders under this
sampleDir: "3.Sample"


###########################################
## Job flag
# level 1: Alignment / filtering / fragment / fragment length / QC
# level 2: Peak calling / BigWig files (allFrag, nuc, nfr) / Motif search / peak heatmap
# level 3: Footprint analysis including 1bp-bigWig, preliminary footprints
# level 4: Bias correction + footprint re-analysis
job_level   : 1

#########################################
## Advanced options

# Parameters for k-mer bias correction. Must be specified if job_level == 4
kmer_genome: "/data/limlab/Resource/Jellyfish.Kmer/hg19.6mer.txt"
kmer_pseudo: 1


